name: Update AWS Glue Job from GitHub

on:
  push:
    branches:
      - main

jobs:
  update-glue-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_ACCESS_KEY_TOKEN }}
          aws-region: us-east-1

      - name: Upload Glue Script to S3
        run: |
          aws s3 cp testVC/testVC.py s3://qr-dev-etl-s3/test_folder_version_control/glue-jobs/scripts/testVC.py

      - name: Update Glue Job Definition
        run: |
          aws glue update-job --job-name testVC --job-update testVC/testVC.json
          
